body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

h1 {
    color: darkblue;
}

label {
    display: block;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}

button {
    color: white;
    background: darkblue;
    padding: 7px;
}